//颜色
$colorBlack: #171A20;
$colorLightBlack: #393C41;
$colorLightGray: #888;
$colorLightGray2: #5C5E62;
$colorLightBlue: #3E6AE1;
$colorDarkBlue: #3457B1;

$bgColor1: #F4F4F4;
$bgColor2: #FFF;
$bgColor3: #EC4E3B;

$borderColor1: #DDD;

//字体大小
$fontSize1: 17px;
$fontSize2: 14px;
$fontSize3: 12px;
$fontSize4: 40px;

//字体粗细
$fontWeight: 500;